.hidden {
  display: none;
}
.process {
  background-color: #ffffff;
  border: 1px solid #4cc0c1;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-inline-size: 276px;
  padding: 1px;
  text-align: start;
  white-space: normal;
}
.parallel {
  background-color: #ffffff;
  border: 1px solid #af7ac5;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-inline-size: 276px;
  padding: 1px;
  text-align: start;
  white-space: normal;
}
.route {
  background-color: #ffffff;
  border: 1px solid #2e3e4e;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-inline-size: 276px;
  padding: 1px;
  text-align: start;
  white-space: normal;
}
.process .popover-content,
.audit .popover-content,
.route .popover-content,
.parallel .popover-content {
  padding-block: 6px;
  padding-inline: 10px;
}
.process .popover-title,
.audit .popover-title,
.route .popover-title,
.parallel .popover-title {
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
  padding-block: 4px;
  padding-inline: 10px;
}
.process .popover-title,
.audit .popover-title,
.route .popover-title,
.parallel .popover-title {
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
  padding-block: 4px;
  padding-inline: 10px;
}
.process .popover-content,
.audit .popover-content,
.route .popover-content,
.parallel .popover-content {
  font-size: 12px;
  line-height: 16px;
}
.process .popover-title {
  background-color: #4cc0c1;
  color: #fff;
}
.route .popover-title {
  background-color: #2e3e4e;
  color: #fff;
}
.parallel .popover-title {
  background-color: #af7ac5;
  color: #fff;
}
.process .popover-title2 {
  background-color: #fb7a7a;
  color: #fff;
}
.process .popover-title3 {
  background-color: #a9d895;
  color: #fff;
}
.process .popover-title4 {
  background-color: #2e3e4e;
  color: #fff;
}
.process .ep,
.audit .ep,
.parallel .ep {
  background-color: #fff;
  background-image: url(images/link.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  block-size: 20px;
  inline-size: 20px;
  position: relative;
  border-color: #dadada #dadada #ccc;
  box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
}

.startpoint .ep {
  background-color: #fff;
  background-image: url(images/link.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  block-size: 20px;
  inline-size: 20px;
  position: relative;
  border-color: #dadada #dadada #ccc;
  box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
}

.audit {
  background-color: #ffffff;
  border: 1px solid #ffcb4d;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  max-inline-size: 276px;
  padding: 1px;
  text-align: start;
  white-space: normal;
}

.audit .popover-title {
  background-color: #ffcb4d;
  color: #fff;
}
.audit .popover-title2 {
  background-color: #fb7a7a;
  color: #fff;
}

.button {
  text-align: center;
  border: 1px solid;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
}

.menu_button {
  padding: 5px;
}

.menu_button:hover {
  background-color: #aaaaaa;
  color: black;
}

.button_add {
  background-color: #00cc00;
  float: inline-start;
  border-radius: 50%;
  box-shadow:
    0px 3px 8px #aaa,
    inset 0px 2px 3px #fff;
  padding: 2px;
  block-size: 25px;
  inline-size: 25px;
  color: grey;
}

.button_add:hover {
  background-color: #00aa00;
  color: black;
}

.button_remove {
  inline-size: 20px;
  block-size: 20px;
  padding-block: 0;
  padding-inline: 2px;
  background: #fff;
}
.audit .button_remove {
  /* margin: auto auto;*/
  float: inline-end;
}
.menu_button_container {
  margin: 5px;
}
.ctrl_container {
  margin: 5px;
  block-size: 40px;
}
._jsPlumb_connector,
._jsPlumb_startpoint {
  cursor: pointer;
}

#routeContainer .name-pro {
  font-size: 14spx;
}
#routeContainer .btn-rounded {
  border-radius: 50px;
  inline-size: 22px;
  block-size: 22px;
  padding: 0px;
}
#routeContainer .m-r-xs {
  margin-inline-end: 5px !important;
}
#routeContainer .btn {
  border-radius: 50px !important;
  font-weight: 500;
  transition: none;
}

.pull-right {
  /* stylelint-disable-next-line liberty/use-logical-spec */
  float: right;
}
